<div class="loginBox">

<h1>Reestablecimiento de contrase침a</h1>

<p>Ingrese su correo para recibir un enlace de reestablecimiento de contrase침a.</p>

<form class="loginForm" method="post" action="/api/sessions/forgot-password">
    <br />
    <br />
    <input type="email" placeholder="Direcci칩n de correo electr칩nico" name="email" />
    <br />
    <br />
    <br />
    <button class="estiloBoton">Solicitar enlace</button>
</form>

</div>