<div class="loginBox">

    <h1>Resetear password</h1>

    <form class="loginForm" method="post" action="/api/sessions/reset-password?token={{token}}">
        <br />
        <br />
        <input type="password" placeholder="Nueva contraseña" name="newPassword" />
        <br />
        <br />
        <br />
        <button class="estiloBoton">Reestablecer contraseña</button>
    </form>

</div>