<h1>Enlace enviado exitosamente</h1>

<p>
    Se ha enviado un enlace para el reestablecimiento de su contraseña. Haga clic en dicho enlace para continuar.
    <br /><br />
</p>

<a class="estiloBoton" href="/">Volver al inicio</a>